.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;
  height: 90vh;
  padding: 0px;
}

.content h4 {
  font-family: "Fira Code", monospace;
}

.content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 700;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 500px;
  line-height: 1.5rem;
}

.content a {
  font-family: "Fira Code", monospace;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}
